@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.active {
    color: yellow;
    border-bottom: 1px solid;
}

.btn-animation {
    background-color: orangered;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 orangered }
    100% { box-shadow: 0 0 0 40px transparent; }
}

.hero {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./assets/hero.png);
    background-size: cover;
    background-position: center;
}
.about-us {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/about.png);
    background-size: cover;
    background-position: center;
}
.services {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/service-1.jpg);
    background-size: cover;
    background-position: center;
}
.products {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/product-1.jpg);
    background-size: cover;
    background-position: center;
}
.contacts {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/about.png);
    background-size: cover;
    background-position: center;
}